<!doctype html>
<html>
<title>Connexion</title>

<header>
  <h1 style="text-align:center"> AHME </h1>
  <h2 style="text-align:center"> École de Combats </h2>
</header>


<nav style="text-align:center; background-color:LightGray">
    <a href="accueil">Accueil</a> -
    <a href="clubs">Les clubs</a> -
    <a href="tournois">Les tournois</a> -
  </nav>

<p>Se connecter :
<form method="post" action="/verification">
  <p> Entrez votre email : 
    <input type="text" name="email">
    <p> Mot de passe : <input type = "password" name = "mdp">
  <p><input type=submit value="Valider">
</form>

</html>