<!doctype html>
<html>
<title>Acceptation dans le club</title>

<header>
  <h1 style="text-align:center"> AHME </h1>
  <h2 style="text-align:center"> École de Combats </h2>
</header>


<nav style="text-align:center; background-color:LightGray">
  <a href="accueil">Accueil</a> -
  <a href="inscription">Inscription</a> -
  <a href="clubs">Les clubs</a> -
  <a href="tournois">Les tournois</a> -
  <a href="actualites">Actualités</a> <!--optionnel si on a le temps-->
</nav>

<p>Félicitations, ta demande a été acceptée ! Bienvenue dans le club {{ nom_club }} !</p>