<!doctype html>
<html>
<title>Rejoindre un tournoi</title>

<header>
  <h1 style="text-align:center"> AHME </h1>
  <h2 style="text-align:center"> École de Combats </h2>
</header>


<nav style="text-align:center; background-color:LightGray">
  <a href="accueil">Accueil</a> -
  <a href="inscription">Inscription</a> -
  <a href="clubs">Les clubs</a> -
  <a href="tournois">Les tournois</a> -
  <a href="actualites">Actualités</a> <!--optionnel si on a le temps-->
</nav>

<p>Désolé nous n'avons pas pu établir la connexion, il y a une erreur dans votre mail.</p>
<p>Clique sur le lien ci dessous pour revenir à la page de connexion :</p>
<a href = {{url_for('login')}}>Se connecter</a>
</html>