<!doctype html>
<html>
<title>Vos clubs</title>

<header>
  <h1 style="text-align:center"> AHME </h1>
  <h2 style="text-align:center"> École de Combats </h2>
</header>


<nav style="text-align:center; background-color:LightGray">
    <a href="accueil">Accueil</a> -
    <a href="clubs">Les clubs</a> -
    <a href="tournois">Les tournois</a> -
  </nav>


<h1> Liste de vos clubs </h1>

<table>
    {% for club in listclub %}
    <tr>
      <td> 
        <img 
          src = "{{ url_for('static', filename = club.logo) }}" 
          width = 50 
          alt = "logo_club"
        > 
      </td>
      <td> 
        <a href = {{url_for('page_club', code = club.code)}}>{{ club.nom }}</a>
      </td>
    </tr>
    {% endfor %}
    
</table>

</html>